.todo-item .card-header {
    border-bottom: none;
    padding-bottom: 0;
}

.todo-item .card-footer {
    border-top: none;
}

.display-true {
    visibility: visible;
}

.display-false {
    visibility: hidden;
}
